@font-face {
    font-family: brasika;
    src: url(fonts/BrasikaDisplay.ttf);
}

@font-face {
    font-family: barbra;
    src: url(fonts/Barbra-High.ttf);
}


body {
    margin: 0;
    padding: 0;
    border: 0;
}