@font-face {
    font-family: brasika;
    src: url(fonts/BrasikaDisplay.ttf);
}

@font-face {
    font-family: barbra;
    src: url(fonts/Barbra-High.ttf);
}


body {
    margin: 0;
    padding: 0;
    border: 0;
}

.header{
    height: 10vh;
    width: 100%;
    background-color: #776B5D;
    color: #F3EEEA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.header-wrapper{
    padding: 0 3.125rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 2rem;
    height: 100%;
    align-items: center;
}

.logo{
    display: flex;
    padding: 0 3.125rem;
    height: 100%;
    align-items: center;
}

.first-page{
    width: 100vw;
    height: 100vh;
    background-color: #B0A695;
    display: flex;
    position: relative;
}

.end{
    background-color: black;
    height: 30vh;
    width: 100vw;
    display: flex;
    position: absolute;
    bottom: 0;
}

.port-words{
    font-family: barbra;
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5.75rem;
    color: #F3EEEA;
}

.first-port{
    z-index: 5;
}

.second-port{
    z-index: 2;
}

.top-first{
    display: flex;
}

.right-first{
    height: 100vh;
    width: 50vw;
    background-color: #776B5D;
    display: flex;
    
}

.left-first{
    height: 100vh;
    width: 50vw;
    background-color: #776B5D;
    display: flex;
    position: relative;
    align-items: end;
    justify-content: end;
}

p{
    margin: 0;
}

.first-wrapper{
    display: flex;
}


.dummy{
    height: 30rem;
    width: 25rem;
    display: flex;
    position: relative;
    z-index: 3;
    transform: translate(-20%,-20%);
}